<div ng-controller="komentariController">
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div id="main-navbar">
                    <ul class="nav navbar-nav navbar-left">
    	                <li><a href="#!/pretraga">Pretraga</a></li>
    				    <li><a href="#!/moje_lokacije">Moje lokacije</a></li>
                        <li><a href="#!/preporuke">Preporuke</a></li>
                        <li><a href="#!/komentari" class="active">Komentari</a></li>
                        <li><a href="#!/moj_profil">Moj profil</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
          				<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-user"></span> {{korisnik}}
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="Odjava()" href="">Odjava <span class="glyphicon glyphicon-log-out"></span></a></li>
                            </ul>
                        </li>
          			</ul>
                </div>
            </div>
        </nav>
    </header>

    <div ng-controller="mojikomentariController">
        <div class="lokacije-container">

            <div class="page-header">
                <label class="naslov">Vaši komentari</label>
                <select class="btn" id="sortiraj" ng-model="selected">
                    <option value="">Sortiraj &#8693;</option>
                    <option value="naziv">Naziv &#8615;</option>
                    <option value="-naziv">Naziv &#8613;</option>
                    <option value="mjesto">Lokacija &#8615;</option>
                    <option value="-mjesto">Lokacija &#8613;</option>
                    <option value="ocjena">Ocjena &#8615;</option>
                    <option value="-ocjena">Ocjena &#8613;</option>
                </select>
                <div class="header_search">
                    <span class="glyphicon glyphicon-search" style="color: white;"></span>
                    <input id="search_komentari" placeholder="Pretraži lokacije" ng-model="lokacija">
                </div>
            </div>
            
            <table id="tablica-mojikomentari" class="table table-striped" style="display: none">
                <thead>
                    <tr>
                        <th class="align">Naziv</th>
                        <th class="align">Lokacija</th>
                        <th>Ocjena</th>
                        <th>Karta</th>
                        <th>Komentari</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="objekt in komentirane_lokacije | filter : lokacija | orderBy : selected">
                        <td class="align">{{objekt.naziv}}</td>
                        <td class="align">{{objekt.mjesto}}</td>
                        <td>{{objekt.ocjena}}</td>
                        <td data-toggle="tooltip" title="Prikaži na karti"><a style="cursor: pointer; color: #05A334;" ng-click="KartaModal(objekt.lat,objekt.lng,objekt.naziv,objekt.mjesto,objekt.ocjena)"><span class="glyphicon glyphicon-map-marker"></span></a></td>
                        <td data-toggle="tooltip" title="Pogledaj komentare"><a style="cursor: pointer;" ng-click="MojiKomentariModal(objekt.id)"><span class="glyphicon glyphicon-comment"></span></a></td>
                    </tr>
                </tbody>
            </table>
            
        </div>

        <delete-comment-alert></delete-comment-alert>
        <edit-comment-alert></edit-comment-alert>
        <karta-modal></karta-modal>
        <moji-komentari-modal></moji-komentari-modal>
    </div>
</div>